<div class="container">
    <a class="navbar-brand" href="index.html"><img src="assets/images/logo-redonda-cutout.png" style="width: 90px;"
            alt="Rio Turismo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu"
        aria-expanded="false" aria-label="Botão de navegação">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="menu">
        <div class="navbar-nav mr-auto">
            <div id="area-aluno">
                <a class="nav-item nav-link" href="#" role="button" data-toggle="modal" data-target="#modalLogin">
                    Área do Aluno
                </a>
            </div>
            <div class="dropdown" id="sobre">
                <a class="nav-item nav-link dropdown-toggle" data-toggle="dropdown" href="sobre.html">
                    Sobre
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Museus</a>
                    <a class="dropdown-item" href="#">Feiras</a>
                    <a class="dropdown-item" href="#">Bibliotecas</a>
                    <a class="dropdown-item" href="#">Livrarias</a>
                </div>
            </div>
            <div class="dropdown" id="cursos">
                <a class="nav-item nav-link dropdown-toggle" data-toggle="dropdown" href="cursos.html">
                    Cursos
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Museus</a>
                    <a class="dropdown-item" href="#">Feiras</a>
                    <a class="dropdown-item" href="#">Bibliotecas</a>
                    <a class="dropdown-item" href="#">Livrarias</a>
                </div>
            </div>
            <div class="dropdown" id="projetos">
                <a class="nav-item nav-link dropdown-toggle" data-toggle="dropdown" href="projetos.html">
                    Projetos
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Museus</a>
                    <a class="dropdown-item" href="#">Feiras</a>
                    <a class="dropdown-item" href="#">Bibliotecas</a>
                    <a class="dropdown-item" href="#">Livrarias</a>
                </div>
            </div>
        </div>

        <div class="navbar-nav">
            <a class="nav-item nav-link" href="#"><i class="fab fa-whatsapp fa-lg" style="color: #25d366;"></i></a>
            <a class="nav-item nav-link" href="#"><i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i></a>
            <a class="nav-item nav-link" href="#"><i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i></a>
            <a class="nav-item nav-link" href="#"><i class="fab fa-youtube fa-lg" style="color: #ed302f;"></i></a>
        </div>
    </div>
</div>
</nav>
</element>