.bgimage {
   background-image: url('../images/background.png');
   background-color: black;
   background-size: cover;
   background-position: center;
   height: 1080px;
}

footer, nav {
   background: #B5E2FA;
 }

.subtitle {
   position: relative;
   z-index: 1;
   overflow: hidden;
   text-align: center;
}
.subtitle:before, .subtitle:after {
   position: absolute;
   top: 51%;
   overflow: hidden;
   width: 50%;
   height: 1px;
   content: '\a0';
   background-color: black;
   opacity: 0.25;
}
.subtitle:before {
   margin-left: -52%;
   text-align: right;
}
.color {
   background-color: #ccc;
}