{% extends "./base.html" %}

{% block corpo %}
<div>
    <div class="container d-flex flex-column" style="margin-top: 120px;">
        <div class="mb-3 align-self-start mr-auto " style="max-width: 700px;">
            <div class="row g-0">
                <div class="col-md-4 align-self-center">
                    <img src="./static/images/plateia.jpeg" class="img-fluid" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" id="Historia">História</h5>
                        <p class="card-text">O Palco Azul começou em 2017 na cidade de Rio das Ostras. Com aulas de
                            Teatro e Interpretação para crianças e adolescentes.
                            Em 2020, com a pandemia, passou para o online, abrangendo turma Baby e Adulto! Com alun@s do
                            Brasil todo!
                            Aos pouquinhos, voltando ao presencial com parcerias maravilhosas na cidade, a começar pela
                            Teia Ecolab, em Costa Azul!

                            Venha se divertir com muito aprendizado no Teatro Palco Azul!

                            E aos domingos, enquanto as mamães têm um bate-papo com a psicanalista Elis Barbosa, as
                            crianças entram no mundo mágico da interpretação!</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3 align-self-end " style="max-width: 700px;">
            <div class="row g-0">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" id="Metodologia">Metodologia</h5>
                        <p class="card-text">O Curso consiste em aulas práticas, com embasamentos
                            teóricos. Por meio de dinâmicas e exercícios teatrais,
                            auxilia no desenvolvimento do aluno tanto corporal,
                            quanto verbal, e ainda psicologicamente. Além dos
                            exercícios propostos, as aulas possuem momentos de
                            improviso, estimulando a imaginação, criatividade e
                            interpretação individual e coletiva. </p>
                    </div>
                </div>
                <div class="col-md-4 align-self-center">
                    <img src="./static/images/palco-vermelho.jpeg" class="img-fluid" alt="...">
                </div>
            </div>
        </div>

        <div class="mb-3 align-self-start mr-auto " style="max-width: 700px;">
            <div class="row g-0">
                <div class="col-md-4 align-self-center">
                    <img src="./static/images/show-continuar.jpeg" class="img-fluid" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" id="Teatro">Teatro</h5>
                        <p class="card-text">O Teatro vem não apenas para aqueles que buscam
                            serem profissionais na área, mas para todos, para que
                            possam desenvolver sua sociabilidade, no caso dos mais
                            tímidos; canalizar a hiperatividade, nos mais agitados;
                            estimular a expressão e opinião pessoal; conhecer a si
                            como um todo, seu corpo e voz, alcances e limitações; e
                            conhecer ao outro, seu espaço e respeito, pois o Teatro
                            não se faz sozinho.
                            Que possamos desenvolver tais benefícios, tanto quanto
                            o gosto e costume, desde pequenos, para que cresçam
                            jovens e adultos com autonomia e dinamismo, com
                            paixão pela arte e amor pela vida! </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p class="subtitle">NOSSO BORDÃO</p>
    <div class="mb-3 d-flex flex-column align-items-center">
        <div class="col-md-4" style="min-width: 500px;">
            <img src="./static/images/seguro-minha-mao.jpeg" class="img-fluid" alt="...">
        </div>
    </div>

    <p class="subtitle">EQUIPE</p>

    <div class="card-group px-5 my-5">
        <div class="card" id="Equipe">
            <img src="./static//images/leticia.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Letícia Perez</h5>
                <p class="card-text">Letícia Perez é atriz há 17 anos e cineasta há 10.
                    Leciona Interpretação para Teatro e Cinema no Palco Azul, do qual fundou em 2017. Com diversas
                    faixas etárias, adapta a pedagogia ideal para cada turma.
                    Mãe solo da Lucy, de 3 anos, Letícia respira a arte, entendendo essa como alimento da alma!</p>

            </div>
        </div>
        <div class="card">
            <img src="./static//images//clara.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Clara</h5>
                <p class="card-text">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo
                    minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                </p>
            </div>
        </div>
        <div class="card">
            <img src="./static//images/gabi.jpeg" class="card-img-top alt=" ...">
            <div class="card-body">
                <h5 class="card-title">Gabi</h5>
                <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe
                    eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</p>
                <div>
                </div>
            </div>
        </div>
    </div>

    <script src="static/js/Likeable.js"></script>
</div>
{% endblock %}